body{
    
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,116,82,1) 100%, rgba(112,40,145,1) 100%, rgba(12,40,35,1) 100%);
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.header h1{
    font-size: 50px;
    margin-top: 130px;
    padding: 45px;
    color: white;   
}
.header p{
    position: relative;
    color: white;
    margin-top: -60px;
    font-size: 30px;
}

/*para definir o fundo do cronometro*/
.container{
    width: 500px;
    height: 500px;
    margin: auto;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(148,116,82,1) 
    100%, rgba(112,40,145,1) 100%, rgba(12,40,35,1) 100%);
}

/*para definir a possicão do icones/button e os estilos*/
.main{
position: absolute;
margin-left: -528px;
}
.contador ul{
    list-style: none;
    display: flex;
    margin-left: 535px;
}
.contador span{
    background: rgba(0, 0, 0, 0.851);
    border-radius: 100%;
    color: white;
    padding: 30px;
    margin-left: 15px; 
    font-size: 50px;
}
.contador p{
    color: white;
    margin-top: 35px;
    margin-left: 20px;
    font-size: 20px;
}
.icones{
    position:absolute;
    display: flex;
    margin-left: 580px;
}
.icones button{
    margin-top: -20PX;
    margin-left: 13PX;
    background: rgba(0, 0, 0, 0.851);
    border-radius: 100%;
    width: 115px;
    height: 115px;
    margin-bottom: 20px;
}
#stop, #reset{
    opacity: 0.5;
}
.icones img{
    width: 40px;
    height: 40px;
    
}
